*{
    margin: 0px;
    padding: 0px;
}

body {
    border: 1px solid black;

}

header{
    background-color: rgb(104, 99, 99);
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 30px;
}


.container {
    display: flex;
    flex-direction: row;
}

div > nav {
    height: 80vh;
    width: 10%;
    background-color:lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
div > section {
    height: 80vh;
    width: 80%;
    background-color:lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
div > div {
    height: 80vh;
    width: 10%;
    background-color:orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
footer {
    background-color: rgb(104, 99, 99);
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 30px;
}