.card {
    width: 350px;
    height: 80vh;
  }
  
  .card-body {
    overflow-y: scroll;
  }
  
  .card-text {
    color: hsl(0, 0%, 80%);
  }
  
  .card-header {
    background: hsl(236, 65%, 57%);
    color: white;
  
    input {
      width: 100%;
      text-indent: 10px;
      background-color: hsl(235, 48%, 39%);
      border: none;
      color: white;
      padding: 8px;
      margin: 5px 0px;
    }
  
    input:focus-visible {
      outline: none;
    }
  }
  
  .people {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-width: 1px 0px;
    border-style: solid;
    border-color: hsl(0, 0%, 92%);
    height: 100px;
    img {
      border-radius: 50%;
      height: 50%;
      margin-left: 20px;
    }
    & > div {
      margin-left: 20px;
    }
  }
  
  .name{
      font-size: 20px;
      font-weight: 500;
  }